body {
    background-image: url("https://p0.pikist.com/photos/935/871/mixture-currencies-finance-business-foreign-exchange-money-wallpaper-dollar-cash.jpg");
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.btn:hover {
    background: lightgreen;
    color: black;
}


/*Media Queries that are smaller than 960px:*/

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}